@charset "UTF-8";


body	{font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}

*{
  margin: 0; padding: 0;
}



/*ヘッダー画像*/
.topimg{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*キャッチコピー*/
.catch{
  padding: 15px;
  background-color: rgba(255,255,255,0.7);
  font-size: 25px;
}

.top{
  position:relative;
}

.catch{
  position: absolute;
  bottom:7%;
  left:3%
}

/*概要*/
.content a{
display: block;
background-color: #222222;
color:#ffffff;
text-align: center;
text-decoration: none;
}

.content i{
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size:35px;
}

.content .fa-database{
  background-color: #bfbd13;
}

.content .fa-chart-bar{
  background-color: #c58839;
}

.content .fa-envelope{
  background-color: #859f46;
}

.content h1{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
}

.content p{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #524e3c;
  font-size: 14px;
}
/*お知らせ*/
.info{
  padding: 20px;
  border: solid 5px #dddddd
}

.info h1{
  margin-bottom: 5px;
  font-size:20px;
  color:#888888;
}

.info ul{
  list-style: none;
}

.info li a{
  display:block;
  padding: 5px;
  color: #000000;
  font-size:15px;
  text-decoration: none;
  border-bottom: dotted 2px #dddddd;
}

.info li a:hover{
  background-color: #eeeeee;
}

.info time{
  float: left;
  width: 60px;
  color:#888888;
  font-weight: bold;
}

.info .text{
  float: none;
  width: auto;
  margin-left: 60px;
}

.info a:after{
  content: "";
  display: block;
  clear: both;
}


/*SNS*/
.share ul{
  list-style: none;
}

.share li a{
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
}

.share li a:hover{
  background-color: #eeeeee;
}

.share-tw{
  background-color: #55acee;
}

.share-fb{
  background-color: #3b5998;
}

.share-gp{
  background-color: #dd4b39;
}

.share i{
  margin-right: 10px;
  font-size: 25px;
  vertical-align: middle;
}

.hitokoto{
  margin-bottom: 20px;
  padding: 10px;
  background-color: #dddddd;
  font-size: 15px;
  text-align: center;
}

/*コピーライト*/
.box5{
  background-color: #dddddd;
  padding-top: 15px;
  padding-bottom: 15px
}

.copyright p{
  color:#666666;
  font-size: 15px
}

/*ボックス幅,上下*/
.boxA, .box4, .box5,.box6{
  padding-left: 15px;
  padding-right: 15px
}

.boxA{
  padding-top: 20px;
  padding-bottom: 10px;

}

.box4{
  padding-top: 20px;
  padding-bottom: 20px;
}

.box4-1{
  padding-bottom: 20px
}

.box6-1,.box6-2.box6-3{
  padding-bottom: 10px
}

.box6{
  padding-top: 20px
}


/*359px以下*/
@media(max-width:359px){
  .site img {
    width: 225px;
    height: auto;
  }

}

/*600px以下の設定*/
@media(max-width:600px){
  .menu li a{
    padding: 10px 6px;
  }

  .catch{
    padding: 5px 10px;
    font-size: 15px
  }
}

/*768px以下の設定*/
@media(max-width:767px){
  /*縦並び*/
#menu{
  display:none;
}

  .menu ul{
    list-style: none;
  }

  .menu li a{
    display: block;
    padding: 5px;
    color:#000000;
    font-size:15px;
    text-decoration: none;
  }

  .menu li a:hover{
    background-color: #eeeeee
  }

  #button span{
    display: inline-block;
    text-indent: -9999px
  }

  #button i{
    color:#888888;
    font-size: 19px;
  }

 #button{
   padding: 5px 10px;
   border:solid 1px #aaaaaa;
   border-radius: 5px;
   background-color: #ffffff;
   position: absolute;
   top:25px;
   right: 15px;
 }
}

/*768px以上の設定*/
@media(min-width:768px){
  .boxA:after	{content: "";
  	display: block;
  	clear: both}

  .box1	{float: left;
  	width: auto}

  .box2	{float: right;
  	width: auto}

  .box4:after{
    content:"";
    display: block;
    clear: both;
  }

  .box4-1{
    float: left;
    width: 70%;
    padding-right: 30px;
    box-sizing: border-box;
  }

  .box4-2{
    float: left;
    width: 30%
  }

  .box6::after{
    content: "";
    display: block;
    clear: both;
  }

  .box6-1{
    float: left;
    width: 32%;
    margin-right:2%
  }
  .box6-2{
    float: left;
    width: 32%;
    margin-right: 2%
  }
  .box6-3{
    float: left;
    width: 32%
  }

  /* ナビゲーション*/
  .menu ul{
    list-style: none
  }

  .menu li a{
    display:block;
    padding: 10px 15px;
    color: #000000;
    font-size:15px;
    text-decoration: none;
  }

  .menu li a:hover{
    background-color: #eeeeee;
  }

  .menu ul:after{
    content: "";
    display: block;
    clear: both;
  }

  .menu li{
    float: left;
    width:
  }

  /*メニューバー*/
  #button{
    display:none;
  }

 #menu{
   display: block !important
 }
}



/*1190px以上の設定*/
@media(min-width:1190px){
  .box3,.box4,.boxA,.box5,.box6{
    width:1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .boxA{
    margin-bottom: 20px;
    border-bottom: solid 1px #dddddd
  }
}
